#picrossBoard {
  border-spacing: 0px;
  border-collapse: collapse; 
  font-size: 20px;
}

#picrossBoard td, th {
  border: 1px solid #000;
  width: 25px;
  height: 25px;
  box-sizing: initial;
}

#picrossBoard th {
  border: none;
  visibility: hidden;
  padding-left: 3px;
}

#picrossOptions {
  margin-left: 1em;
  padding: .5em;
  text-align: left;
  display: inline-block;
}

.picrossLife {
  width: 25px;
  height: 25px;
  background-color: #f66;
  border: 1px solid #000;
  margin: .1em;
}

.row:before,
.row:after {
  content: inherit;
}